<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45663027751-0gru7jrulembqdqb9qlca9oag9h63pkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45663027751-0gru7jrulembqdqb9qlca9oag9h63pkl</string>
	<key>API_KEY</key>
	<string>AIzaSyAT0FzH0eY7CTc_ZCpJCtLDXrp076kfq2I</string>
	<key>GCM_SENDER_ID</key>
	<string>45663027751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alphaStudyProject</string>
	<key>PROJECT_ID</key>
	<string>zikrstudy</string>
	<key>STORAGE_BUCKET</key>
	<string>zikrstudy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45663027751:ios:134f5f9e199e39e2ba8402</string>
</dict>
</plist>